body {
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  color: #373737;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #373737;
}

h3 {
	margin: 0px;
}

/* header styles */
#header-nav {
  margin-bottom: 0px;
}

.navbar {
	background-color: #F4F4F4;
}

.navbar-brand h1 { /* Restaurant name */
  margin-top: auto;
  margin-bottom: auto;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #E3E3E3;
}
#nav-list a {
  color: #373737;
  text-align: center;
}
#nav-list a:hover {
  background: #DCD0C0;
}
#nav-list a span {
  font-size: 1.8em;
}

/* main content styles */
#main-content {
  margin-top: 0px;
}

.panel {
  background-color: #DCD0C0;
  box-shadow: -1px 1px 2px 1px #cccccc;
}

.panel-body {
  padding-top: 0px;
}



/*#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}*/